$palette-red: #ed4c4c;
$palette-green: #47cc6b;
$palette-blue: #508ff4;
$palette-pink: #e84393;
$palette-orange: #f39c12;
$palette-yellow: #f4db50;
$palette-black: #000;
$palette-asphalt: #34495e;
$palette-grey-200: #eaeaea;
$font-family: 'Roboto', sans-serif;
$width-mobile: 320px;
$width-tablet: 640px;
$width-desktop: 960px;
$content-width: 960px;
