@import '@/assets/scss/variables';

$this: '.Icon';

#{$this} {
  display: inline-block;
  position: relative;
  vertical-align: top;

  &Svg {
    height: 100%;
    left: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
